{{#Style}}
<div class="mix {{.category}}" data-value={{.data_value}}>
<section style="{{.section_style}}">
  <section style="width: 100%; border-top: solid 1px {{color}};
    display: inline-block;">
      <section style="
      min-height: 32px;
      background-color: {{color}};
      color: #ffffff;
      display: inline-block;
      border-bottom-left-radius: 10px;
      padding: 5px 10px;
      border-bottom-right-radius: 10px;
      font-size: 20px;"><p style="margin: 0 auto;">标题</p></section>
  </section>
</section>
</div>
{{/Style}}
