<section style="margin:1em auto;white-space: normal;border-style: none;text-align: center;">
  <section style="width: 100%; border-top: solid 1px {{color}};
    display: inline-block;">
      <section style="
      min-height: 32px;
      background-color: {{color}};
      color: #ffffff;
      display: inline-block;
      border-bottom-left-radius: 10px;
      padding: 5px 10px;
      border-bottom-right-radius: 10px;
      font-size: {{font-size}};"><p style="margin: 0 auto;" data-bind="value: firstName" >标题</p></section>
  </section>
</section>
