body {
  width: 100%;
  background: #efefef;
  color: #34495e;
}

span.cke_combo_text,
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  color: #34495e;
}

#tabs {
  float: left;
  width: 50%;
}

#editor {
  float: right;
  width: 50%;
}

#tabs .color {
  margin-top: 15px;
  margin-left: 10px;
}

#filter {
  margin: 10px;
}

button.active {
  border: none;
  background-color: #03a9f4;
  color: #fff;
}

.sp-preview {
  width: 56px;
  height: 28px;
  border: none;
}

.sp-replacer {
  border-color: #fff;
  border-radius: 4px;
}

.sp-dd {
  background: url('images/arrow.png') no-repeat;
  height: 24px;
  width: 24px;
}

.sandbox {
  position: relative;
  min-height: 580px;
  padding: 15px;
  margin: 10px;
  overflow: hidden;
  height: 100%;
}

.sandbox .mix {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  text-align: right;
  background: rgba(255, 255, 255, 0.06);
  margin-bottom: 4%;
  display: none;
  font-size: 25px;
  padding-right: .5em;
  line-height: 1.8em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  vertical-align: top;
  -webkit-backface-visibility: hidden;
}

.sandbox .mix:before {
  content: '';
  display: inline-block;
  padding-top: 60%;
  vertical-align: middle;
}

.sandbox .mix:after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right-color: white;
  top: -20px;
  left: -20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sandbox .mix.category-1:after {
  border-right-color: #6bd2e8;
}

.sandbox .mix.category-2:after {
  border-right-color: #a6e6a7;
}

.sandbox .gap,
.sandbox .mix {
  width: 48%;
}

.sandbox.list .mix {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.sandbox.list .mix:before {
  padding-top: 3%;
}

.sandbox.pagination {
  min-height: 0;
  background: #6bd2e8;
  padding: 15px;
}

.sandbox.pagination .mix {
  margin-bottom: 4%;
  width: 48%;
}

.sandbox.pagination .mix:before {
  padding-top: 45%;
}

.sandbox.pagination .mix.category-1:after {
  border-right-color: #3fc5e1;
}

.sandbox.pagination .mix.category-2:after {
  border-right-color: #92e094;
}

@media all and (min-width: 641px) {
  .sandbox.pagination .mix {
    width: 23.5%;
    margin-bottom: 0;
  }
}

@media all and (min-width: 769px) {
  .sandbox.pagination {
    padding: 30px;
  }
}

@media all and (min-width: 641px) {
  .sandbox .mix {
    margin-bottom: 2%;
  }

  .sandbox .mix:before {
    padding-top: 80%;
  }

  .sandbox .gap,
  .sandbox .mix {
    width: 23.5%;
  }
}

@media all and (min-width: 769px) {
  .sandbox {
    padding: 10px 10px 0;
  }

  .sandbox .mix:before {
    padding-top: 10%;
  }

  .sandbox .gap,
  .sandbox .mix {
    width: 40%;
  }
}
